{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kursy edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-default" value="Save Changes" />
    {{ form_end(edit_form) }}

            <table>
              <tr><td>
            <a href="{{ path('kursy_index') }}" class="btn btn-primary">Back to the list</a>
</td><td>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}

</td>
</tr>
<tr>
<td>
  {{ form_start(opis_form) }}
  {{ form_widget(opis_form) }}
  <input type="submit" class="btn btn-default" value="Save Changes" />

  {{ form_end(opis_form) }}
</td>
</tr>
</table>
{% endblock %}
