{% extends 'base.html.twig' %}

{% block body %}
  <h1>Szkolenia w naszej ofercie</h1>
<div class"table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Czastrwania</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for kursy in kursies %}
        <tr>

          <td>{{ kursy.nazwa }}</td>
          <td>{{ kursy.cena }}</td>
          <td>{{ kursy.czastrwania }}</td>
          <td>
            <a href="{{ path('kursy_show', { 'id': kursy.id }) }}" class="btn btn-block btn-success">{{ 'action.sign_up'|trans }}</a>
          </td>
          <td>
            {% if is_granted('ROLE_ADMIN') %}
              <a href="{{ path('kursy_edit', { 'id': kursy.id }) }}" class="btn btn-block btn-primary">{{ 'action.edit'|trans }}</a>
              {% endif %}
            </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('kursy_new') }}" class="btn btn-block btn-default">{{ 'action.addkurs'|trans }}</a>

  {% endif %}

{% endblock %}
