{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kursy creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Create" />
    {{ form_end(form) }}


            <a href="{{ path('kursy_index') }}" class="btn btn-primary">Back to the list</a>

{% endblock %}
