{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">
  <h1>Zapisz się już dziś!</h1>
    <div class="col-md col-lg-6 col-sm-6">
    {% for opis in opisy %}

      <table class="table table-responsive container-fluid">
          <tbody>
              <tr>
                          <td></td>      <th>{{ opis.streszcz }}</th>

    </tr>
                                <tr>
                                      <th>Opis</th>
                                <td>{{ opis.opis }}</td>
                              </tr>
                              <tr>
                                <th>Agenda: </th>
                                <td>{{ opis.agenda }}</td>
              </tr>
          </tbody>
      </table>
      {% endfor %}
  </div>
  <div class="col-md col-lg-6 col-sm-6">
    <table class="table table-responsive container-fluid">
        <tbody>
            <tr>
                              <th>{{ kursy.nazwa }}</th>

</tr>
                              <tr>
                                    <th>Cena: </th>
                              <td>{{ kursy.cena }}</td>
                            </tr>
                            <tr>
                              <th>Czas trwania: </th>
                              <td>{{ kursy.czastrwania }}</td>
            </tr>
        </tbody>
    </table>
    </div>


</div>

        <a href="{{ path('kursy_index') }}" class="btn btn-success">Zapisz się</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('kursy_edit', { 'id': kursy.id }) }}" class="btn btn-default">Edytuj</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń" class="btn btn-danger">
            {{ form_end(delete_form) }}
            {% endif %}
{% endblock %}
