{% extends 'base.html.twig' %}

{% block body %}
    <h1>Opiskursus list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Streszcz</th>
                <th>Opis</th>
                <th>Agenda</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opisKursu in opisKursus %}
            <tr>
                <td><a href="{{ path('opiskursu_show', { 'id': opisKursu.id }) }}">{{ opisKursu.id }}</a></td>
                <td>{{ opisKursu.streszcz }}</td>
                <td>{{ opisKursu.opis }}</td>
                <td>{{ opisKursu.agenda }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('opiskursu_show', { 'id': opisKursu.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('opiskursu_edit', { 'id': opisKursu.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opiskursu_new') }}">Create a new opisKursu</a>
        </li>
    </ul>
{% endblock %}
