{% extends 'base.html.twig' %}

{% block body %}
    <h1>Opiskursu</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opisKursu.id }}</td>
            </tr>
            <tr>
                <th>Streszcz</th>
                <td>{{ opisKursu.streszcz }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ opisKursu.opis }}</td>
            </tr>
            <tr>
                <th>Agenda</th>
                <td>{{ opisKursu.agenda }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('opiskursu_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('opiskursu_edit', { 'id': opisKursu.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
